<main>
  <app-header [drawer]="drawer" [isHandset]="isHandset$"></app-header>
  <mat-sidenav-container class="sidenav-container" (swipeLeft)="drawer.close()">
    <mat-sidenav #drawer class="sidenav" [fixedInViewport]="isHandset$ | async"
                 [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                 [mode]="(isHandset$ | async) ? 'over' : 'side'"
                 [opened]="(isHandset$ | async) === false">
      <mat-toolbar *ngIf="isHandset$ | async">Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item href="#">Link 1</a>
        <a mat-list-item href="#">Link 2</a>
        <a mat-list-item href="#">Link 3</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content (swipeRight)="drawer.open()">
      <div class="main-content">
        <ng-content></ng-content>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</main>
